.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 300px;
  &.table-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  @media (width > 550px) {
    min-width: 500px;
    &.table-grid {
    grid-template-columns: 1fr 1fr 1fr;

    }
  }
}

.sub-container {
  display: flex;
  gap: 1em;
  justify-content: center;
}
